{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load leaflet_tags %}

{% block head %}

    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}

    {{ form.media }}

{% endblock %}

{% block title %}
    | Location
{% endblock %}

{% block content %}

    <br>

    <h3> User Location </h3>

    <br>

    <div>
        <form style="text-align: center;" action="{% url 'users:user_location' user.id %}" method="POST" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
    
            <lable style="font-weight: bold;">Address / Place Name:</lable>
            <input type="text" class="form-control" name="address" required>
    
            <br>
    
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <br>

        <div>
            <div style="width: 50%; float: left;">
                <h5>Your current location:</h5>
                    {{ user.address|default_if_none:"" }}
            </div>
            <div style="width: 50%; float: right;">
                <h5>Your searched location:</h5>
                    <h6 style="color: steelblue;">{{ search_address|default_if_none:"" }}</h6>

                {% if search_address %}
                    <form style="text-align: center;" action="{% url 'users:set_user_location' user.id %}" method="POST" autocomplete="off" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" value="{{ search }}" name="search" hidden> <br>
                        <button type="submit" class="btn btn-primary">Set this location</button>
                    </form>
                {% endif %}

                <br>
            </div>
        </div>

        <br>
        <br>
    
    </div>

    <br>
    <br>
    <br>
    <!-- I know, we have to fix this! Hahah!!! -->
    <br>
    <br>
    <br>

    <div>

        <span style="color: crimson; font-weight: bold;">{{ message|default_if_none:"" }}</span>

        <!-- {{ map | safe }} -->
        <!-- the safe filter allows to display the map -->

        <form style="text-align: center;" action="{% url 'users:set_user_map_location' user.id %}" method="POST" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Set this map location</button>
            <br> <br>
            {{ form | crispy }}

           
        </form>
            
    
    </div>

    


{% endblock %}